<div id="footer">
	<div>
		<ul class="navigation">
			<li>
				<a href="/index">Home</a>
			</li>
			<li>
				<a href="/items">Items</a>
			</li>
			<li>
    			<a href="/about">About</a>
			</li>
			<li>
				<a href="/contact">Contact</a>
			</li>
		</ul>
	</div>
	<p>
		© 2025 by James Scott All Rights Reserved
	</p>
	</div>